/* QTYBox */

.QTYBox{ 
	float:left; 
	margin-left:5px;
}

.QTYBox input{ 
	float:left; 
	width:20px;
	height:16px;
	-moz-border-radius: 3px 0px 0px 3px; 
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px; 
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;
	border:1px solid #CCC; 
	text-align:right;
}	  

.QTYBox input{
	font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    vertical-align: middle;
}



.QTYBox .arrowcontainer{ 
	 float:left; 
	 width:15px; 
	 height:18px; 
	 background-color:#F2F2F2;	
	 border: 1px solid #D5D5D5;
	 border-left:none;
	 -moz-border-radius: 0px 3px 3px 0px!important; 
     -webkit-border-radius: 0px 3px 3px 0px!important;
     border-radius: 0px 3px 3px 0px!important; 
	 -moz-background-clip: padding; 
	 -webkit-background-clip: padding-box; 
	 background-clip: padding-box;
}

.QTYBox .arrowcontainer div { 
	cursor:pointer; 
	width:15px; 
	height:8px;
}

.QTYBox .up,.QTYBox .down,.QTYBox .up_h,.QTYBox .down_h,.QTYBox .up_c,.QTYBox .down_c{background-image: url(img/qtybox.png);border-bottom:1px solid #D5D5D5;}
.QTYBox .up { 		background-position:0px -1px;}
.QTYBox .down {		background-position:0px 9px;}
.QTYBox .up_h { 	background-position:30px -1px;}
.QTYBox .down_h {	background-position:30px 9px;}
.QTYBox .up_c { 	background-position:15px -1px;}
.QTYBox .down_c {	background-position:15px 9px;}








/*	QTYBox style 2	*/

.QTYBox2{ 
	float:left; 
	margin-left:5px;
}

.QTYBox2 input{ 
	float:left; 
	width:20px;
	height:18px;
	-moz-border-radius: 3px 0px 0px 3px; 
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px; 
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;
	border:1px solid #CCC; 
	text-align:right;
}	  

.QTYBox2 input{
	font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    vertical-align: middle;
}



.QTYBox2 .arrowcontainer{ 
	 float:left; 
	 width:40px; 
	 height:20px; 
	 background-color:#F2F2F2;	
	 border: 1px solid #D5D5D5;
	 border-left:none;
	 -moz-border-radius: 0px 3px 3px 0px!important; 
     -webkit-border-radius: 0px 3px 3px 0px!important;
     border-radius: 0px 3px 3px 0px!important; 
	 -moz-background-clip: padding; 
	 -webkit-background-clip: padding-box; 
	 background-clip: padding-box;
}

.QTYBox2 .arrowcontainer div { 
	cursor:pointer; 
	width:20px; 
	height:20px;
	float:left;
}

.QTYBox2 .up,.QTYBox2 .down,.QTYBox2 .up_h,.QTYBox2 .down_h,.QTYBox2 .up_c,.QTYBox2 .down_c{background-image: url(img/qtybox_buttons.png);}
.QTYBox2 .up { 		background-position:0px 0px;}
.QTYBox2 .down {	background-position:0px 20px;}
.QTYBox2 .up_h { 	background-position:40px 0px;}
.QTYBox2 .down_h {	background-position:40px 20px;}
.QTYBox2 .up_c { 	background-position:20px 0px;}
.QTYBox2 .down_c {	background-position:20px 20px;}

/*	Year field in date selector	*/
#date-select-year{ width:30px;}
/*	label	*/
label{ float:left;}